@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* white text */
  --background-start-rgb: 25, 25, 25; /* dark background */
  --background-end-rgb: 25, 25, 25; /* consistent dark background */
  --accent-rgb: 70, 130, 180; /* steelblue accent */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

nav{
  background-color: rgb(var(--accent-rgb)); /* Use accent color for navbar */
}

a, .accent {
  color: rgb(var(--accent-rgb)); /* Use accent color for links and accent class */
}

.gradient-background {
  position: relative;
  padding: 20px;
  z-index: 1;
}

.gradient-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(25, 25, 25, 0.9), /* or any dark color close to your background color */
    rgba(50, 50, 50, 0.9)  /* Adjust the colors and opacity as needed */
  );
  z-index: -1;
}